{% extends 'base.html' %}
{% load gravatar %}
{% block content %}
  <div id="speakers-list">
    {% for speaker in speakers %}
      <div class="speaker">
        {% gravatar_img_for_email speaker.email_contact %}
        <div class="detail">
          <h2><a href="{{ speaker.get_absolute_url }}">{{ speaker.name }}</a></h2>
          <div class="description">
            {{ speaker.description|truncatewords:30 }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
