{% extends 'base.html' %}
{% load youtube slideshare %}
{% block content %}
  <h1>{{ talk.title }}</h1>
  {% for speaker in talk.speakers.all %}
    <a href="{{ speaker.get_absolute_url }}"
       title="{{ speaker.description|truncatewords:20 }}">
      {{ speaker.name }}
    </a>
  {% endfor %}
  <p>{{ talk.description }}</p>
  {% if talk.media_set %}
  <div class="talk-media">
    {% for video in talk.videos %}
      <p>{% youtube video.media_id %}</p>
    {% endfor %}
    {% for slide in talk.slides %}
      <p>{% slideshare slide.media_id slide.title %}</p>
    {% endfor %}
  </div>
  {% endif %}
{% endblock content %}
