html {
  margin: 0;
  padding: 0;
  background-color: #092548;
  display: block;
  font-size: 100%;
}

body {
  font: 16px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

a,
a:link,
a:active,
a:visited {
  color: #165BB1;
  text-decoration: none;
  border-bottom: 1px dotted #092548;
}

a:hover {
  border-bottom: 1px solid #092548;
}

#ex-logo {
  height: 50px;
  float: left;
}

#ex-logo > a {
  font-family: 'Audiowide', cursive;
  font-size: 48px;
  color: #f0f0f0;
  border-bottom: none;
}

#ex-logo-e {
  color: #165bb1;
  display: none;
}

#ex-logo-x {
  display: none;
  color: #ffe816;
}

#ex-date {
  position: absolute;
  margin-top: -30px;
  margin-left: 670px;
  background: url(../img/marker.png) no-repeat;
  width: 111px;
  height: 130px;
  font-size: 30px;
  color: white;
  text-align: center;
  padding-top: 17px;
}

#ex-page {
  width: 900px;
  margin: 0 auto;
}

header.main {
  height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10px;
}

#nav-top {
  float: right;
  margin-top: 20px;
}
#nav-top > a,
#nav-top > a:link,
#nav-top > a:active,
#nav-top > a:visited  {
  color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: normal;
}
#nav-top > a:hover  {
  background-color: #165bb1;
  color: #ffe816;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

#ex-content {
  background-color: white;
  padding: 30px 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
  -moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
  -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
  border: 6px solid #165BB1;
}

#ex-content p {
  margin-left: 10px;
  text-shadow: 1px 1px 3px #ddd;
}

#ex-rights {
  color: white;
  float: right;
  font-size: 11px;
  margin-right: 10px;
}

#ex-rights a {
  color: #ffe816;
}

#social-links {
  margin-top: 5px;
}

#social-links ul {
  margin: 0;
  padding: 0;
}

#social-links li {
  margin: 0;
  padding: 0;
  padding-left: 5px;
  float: left;
  list-style: none;
}

#social-links a {
  opacity: .4;
  position: relative;
  top: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#social-links a:hover {
  opacity: 1;
  top: -5px;
}

.lnk-facebook,
.lnk-twitter,
.lnk-email,
.lnk-gplus {
  height: 40px;
  display: inline-block;
  text-indent: -999px;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/social_links.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.lnk-facebook {
  width: 38px;
  background-position: 0 0;
}

.lnk-twitter {
  width: 50px;
  background-position: -40px 0;
}

.lnk-email {
  width: 40px;
  background-position: -90px 0;
}

.lnk-gplus {
  width: 50px;
  background-position: -130px 0;
}

footer {
  padding: 7px 7px 7px 10px;
}

h1 {
  font-family: 'Audiowide', cursive;
  font-size: 28px;
  margin: 0;
  padding: 0 0 10px;
  text-shadow: 1px 2px 0 #ccc;
  color: #333;
  height: 32px;
}

form label {
  display: block;
  margin-bottom: 4px;
  color: #333;
}

form input {
  width: 300px;
  padding: 7px 8px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 7px;
  -webkit-box-shadow: inset #ddd 0px 2px 6px;
  -moz-box-shadow: inset #ddd 0px 2px 6px;
  box-shadow: inset #ddd 0px 2px 6px;
}

button {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  min-width: 150px;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 200;
  color: white;
  border: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 5px rgba(0, 0, 0, .25);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 5px rgba(0, 0, 0, .25);
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  background-color: #165bb1;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1c72de), to(#165bb1));
  background-image: -webkit-linear-gradient(top, #1c72de, #165bb1);
  background-image: -o-linear-gradient(top, #1c72de, #165bb1);
  background-image: linear-gradient(to bottom, #1c72de, #165bb1);
  background-image: -moz-linear-gradient(top, #1c72de, #165bb1);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
button:hover {
  text-decoration: none;
  color: #aecef7;
  background-color: #0f3d77;
  *background-color: #003bb3;
}

.form-field-wrapper {
  margin-bottom: 15px;
}

.form-errors {
  padding: 10px 10px;
  background-color: #ffdede;
  margin: 15px 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.errorlist {
  list-style: none;
  font-size: 12px;
  color: #cc0000;
  padding: 0;
  margin: 0;
}

#id_phone_0 {
  width: 30px;
}

#id_phone_1 {
  width: 246px;
}

.talk-media {
  text-align: center;
  margin-top: 40px;
}

.palestra h2 {
  margin: 10px 0 5px 0;
}

/*.palestra h2 a,
.palestra h2 a:link,
.palestra h2 a:visited,
.palestra h2 a:visited {
  border-bottom: none;
}
.palestra h2 a:hover {
  text-decoration: none;
}*/

a.speaker-url,
a.speaker-url:link,
a.speaker-url:visited,
a.speaker-url:visited {
  color: #666;
  border-bottom: none;
}
a.speaker-url:hover {
  border-bottom: none;
}
